# 音标

- 英 `/,verɪfɪ'keɪʃ(ə)n/`
- 美 `/,vɛrɪfɪ'keʃən/`

# 词义

n. 确认，查证；核实




来自verify (v. 证明， 证实)

# 同义

n. 确认，查证；[审计]核实
`confirmation` `validation`

# 同根

- n. `verifier` 检验者；核实者；校对机
- vt. `verify` 核实；查证

# 短语

- `experimental verification` 实验验证；实验性鉴定
- `verification process` 验实过程，验证过程
- `verification code` 验证码
- `design verification` 设计验证
- `verification test` 验证试验；证实测验
- `verification and validation` [计]检验和确认
- `formal verification` 形式验证，形式证明
- `verification procedure` 查证程序；核查程序
- `data verification` 数据验证，数据校验
- `cancel after verification` 核销
- `verification certificate` 存货核实证明书；检定证书；验单

